{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    <div class = "container mt-3">
        {% for index,movie in items %}
        <div class="row mt-4">
            <div class="col-md-7">
                <h5>
                    <a href={{ path('search.details', {id:movie.code}) }}>{{ movie.title|raw|convert_encoding('UTF-8', 'ISO-8859-1')}}</a> ({{ movie.productionYear}})
                </h5>
            </div>
            <div class="col-md-2">{{ movie.castingShort.directors|raw|convert_encoding('UTF-8', 'ISO-8859-1')}}</div>
            <div class="col-md-7">{{ movie.castingShort.actors|raw|convert_encoding('UTF-8', 'ISO-8859-1')}}</div>

        </div>
        <div class="row">
            <div class="col-md-7"></div>

        </div>

        {% endfor %}
    </div>
{% endblock %}
