{% extends 'base.html.twig' %}
{% block body %}
    <div class = "container mt-4">
        <h1> Ajouter une note</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-3">{{ form_row(form.user) }}</div>
            <div class="col-md-3">{{ form_row(form.movie) }}</div>
            <div class="col-md-3">{{ form_row(form.score) }}</div>
        </div>
        <div class="row">
            <div class="col-md-9">{{ form_row(form.commentary) }}</div>
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-primary" >Sauvegarder</button>
        {{ form_end(form) }}
    </div>
{% endblock %}