{% extends 'base.html.twig' %}
{% block body %}
    <div class = "container mt-4">
        <h1> Ajouter une note</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-2">{{ form_row(form.code_allocine) }}</div>
            <div class="col-md-4">{{ form_row(form.title) }}</div>
            <div class="col-md-4">{{ form_row(form.originalTitle) }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ form_row(form.productionYear) }}</div>
            <div class="col-md-4">{{ form_row(form.directors) }}</div>
            <div class="col-md-4" aria-placeholder="facultatif">{{ form_row(form.actors) }}</div>
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-primary" >Sauvegarder</button>
        {{ form_end(form) }}
    </div>
{% endblock %}